.blue-rectangle {
  position: absolute;
  width: 1392px;
  height: 795px;
  left: -15px;
  top: 3120px;
  background: #00B3E2;
} 

.memory-foam {
  position: absolute;
  width: 236px;
  height: 417px;
  left: 88px;
  top: 3361px;
}

.latex-foam {
  position: absolute;
  width: 252px;
  height: 415.98px;
  left: 399px;
  top: 3361.02px;
}

.spring {
  position: absolute;
  width: 236px;
  height: 404.3px;
  left: 736px;
  top: 3392.7px;
}

.hybrid {
  position: absolute;
  width: 236px;
  height: 414px;
  left: 1053px;
  top: 3383px;
}

.text {
  position: absolute;
  width: 360px;
  height: 41px;
  left: 513px;
  top: 3211px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 69px;
  /* identical to box height, or 172% */
  text-align: center;
  letter-spacing: 1.07px;
  /* color: #FFFFFF; */
  color: black;
}

.white-line {
  position: absolute;
  width: 100px;
  height: .1px;
  left: 629px;
  top: 3305px;
  border: 3px solid #FFFFFF;
}

