@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: #F2F2F2;
}

.mattress-image {
  position: absolute;
  width: 992px;
  height: 630px;
  left: 464px;
  top: 210px;
  /* background: url('./Linenspa mattresses.png'); */
}

.welcome-text {
  position: absolute;
  width: 469px;
  height: 240px;
  left: 110px;
  top: 204px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 60px;
  letter-spacing: 1.39487px;
  color: #000000;
}

.small-welcome-text {
  position: absolute;
  width: 362px;
  height: 100px;
  left: 113px;
  top: 467px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.13px;
  color: #747474;
}

.mattress-shadow {
  position: absolute;
  width: 595px;
  height: 599px;
  left: 789px;
  top: 153px;
  background: #00B3E2;
  box-shadow: 17px 8px 11px rgb(0 0 0 / 18%);
}

.blue-box {
  position: absolute;
  width: 103px;
  height: 87px;
  left: -20px;
  top: 213px;
  background: #0061A6;
}