/* $desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

@media screen and (max-width: $desktop) and (min-width: $laptop) {
  
body {
  background: #F2F2F2;
}

.twin-image {
  position: absolute;
  width: 588px;
  height: 538px;
  left: 65px;
  top: 2433px;
  background: #707070;
}

.blue-line {
  position: absolute;
  width: 100px;
  height: .1px;
  left: 756px;
  top: 2407px;
  border: 3px solid #00B3E2;
}

.guide-text {
  position: absolute;
  width: 546px;
  height: 37px;
  left: 746px;
  top: 2432px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  /* or 127% */
  /* letter-spacing: 0.986046px;
  color: #000000;
}

.twin {
  position: absolute;
  width: 39.31px;
  height: 74.18px;
  left: 746px;
  top: 2529px;
  background: #0061A6;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.twin-xl {
  position: absolute;
  width: 39px;
  height: 82px;
  left: 825px;
  top: 2520px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.full {
  position: absolute;
  width: 49px;
  height: 74px;
  left: 899px;
  top: 2528px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.full-xl {
  position: absolute;
  width: 49px;
  height: 82px;
  left: 987px;
  top: 2521px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.queen {
  position: absolute;
  width: 58px;
  height: 82px;
  left: 1075px;
  top: 2521px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.king {
  position: absolute;
  width: 77px;
  height: 82px;
  left: 753px;
  top: 2658px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.cal-king {
  position: absolute;
  width: 77px;
  height: 89px;
  left: 870px;
  top: 2652px;
  background: #B9E2F5;
  border: 2.04px solid #0061A6;
  border-radius: 5.44px;
}

.twin-description {
  position: absolute;
  width: 522px;
  height: 202px;
  left: 760px;
  top: 2805px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  /* or 179% */
  /* letter-spacing: 1.13px;
  color: #000000;
} */

/* .twin-text {
  position: absolute;
  width: 32px;
  height: 11px;
  left: 751px;
  top: 2619px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */

/* .twin-xl-text {
  position: absolute;
  width: 54px;
  height: 11px;
  left: 822px;
  top: 2619px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */ 

/* .full-text {
  position: absolute;
  width: 36px;
  height: 11px;
  left: 908px;
  top: 2619px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */ 

/* .full-xl-text {
  position: absolute;
  width: 56px;
  height: 11px;
  left: 987px;
  top: 2619px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */ 

/* .queen-text {
  position: absolute;
  width: 47px;
  height: 12px;
  left: 1083px;
  top: 2619px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */ 

/* .king-text {
  position: absolute;
  width: 35px;
  height: 13px;
  left: 774px;
  top: 2758px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
} */

/* .cal-king-text {
  position: absolute;
  width: 62px;
  height: 13px;
  left: 880px;
  top: 2758px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  /* identical to box height, or 142% */
  /* letter-spacing: 0.727759px;
  color: #000000;
}  */ 

/* @media screen and (max-width: 480px) {
  body {
    background-color: black;
  }
} */